<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactSequence</key>
	<integer>370</integer>
	<key>containerSequence</key>
	<integer>3</integer>
	<key>groupSequence</key>
	<integer>1</integer>
	<key>infoSequence</key>
	<integer>2</integer>
	<key>multivalueSequence</key>
	<integer>424</integer>
	<key>namespaceIdentifier</key>
	<string>224663BC-54E2-40FF-BBD5-BF923F5F85DF</string>
</dict>
</plist>
